RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
#RewriteCond %{HTTP:Authorization} ^(.+)$
#The QSA flag is used for passing and appending an existing query after an URL
#The L flag is used for stopping every single following rule after that one
RewriteRule ^(.*)$ ./index.php [QSA,L]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}] #Assign HTTP_AUTHORIZATION to $_SERVER global variable
