body{
    padding: 0;
}
#slider{
    width: auto;
    height: 100vh;
    border: 5px solid black;
    margin: 10px ;
    overflow: hidden;
    transition: all ease 1s;
    background-color: black;
    background-image: url('https://s1.1zoom.me/big7/297/Canada_Mountains_Scenery_488936.jpg');
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
}
.class1{
    width: 70px;
    height: 70px;
    background-color: aqua;
}
#prizrak{
    background-color: rgb(16, 37, 56);
    padding: 10px;
    width: auto;
    height: auto; 
    position: fixed;
    opacity: 0;
    transition: all ease 1s;
    margin-left: 35vw;
    margin-top: 20px;
}
#slider-right{
    float: right;
    background: transparent;
    color: aliceblue;
    margin-bottom: 8px;
    position: relative;
    z-index: 5;
}

#fon{
    width: 100vw;
    height: 90vh;
    background-color: #080808;
    opacity: 0;
    position: fixed;
    transition: all ease 1s;
    margin-left: -8px;
    margin-top: -9px;
}
/*input {*/
/*    width: 23vw;*/
/*    height: 5vh;*/
/*    border: 1px solid rgba(255,255,255,.4);*/
/*    -moz-border-radius: 4px;*/
/*    -webkit-border-radius: 4px;*/
/*    border-radius: 4px;*/
/*    -moz-background-clip: padding;*/
/*    -webkit-background-clip: padding-box;*/
/*    background-clip: padding-box; */
/*    display:block;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-size:18px;*/
/*    font-weight: 300;    */
/*    color:rgb(251, 251, 255);*/
/*    padding-left:20px;*/
/*    padding-right:20px;*/
/*    margin-bottom:20px;*/
/*}*/
input[type=submit] {
    cursor:pointer;
}
/*input.name {*/
/*    background: rgba(255, 255, 255, 0.4); */
/*    padding-left:25px;*/
/*}*/
/*input.email {*/
/*    background: rgba(255, 255, 255, 0.4);*/
/*    padding-left:25px;*/
/*}*/
/*input.message {*/
/*    background: rgba(255, 255, 255, 0.4);*/
/*    padding-left:25px;*/
/*}*/
::-webkit-input-placeholder {
    color: #fff;
}
:-moz-placeholder{ 
    color: #fff; 
}
::-moz-placeholder {
    color: #fff;
}
:-ms-input-placeholder {  
    color: #fff; 
}
.btn {
    width: 138px;
    height: 44px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float:right;
    border: 1px solid #253737;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
    background: -webkit-linear-gradient(top, #6da5a3, #416b68);
    background: -moz-linear-gradient(top, #6da5a3, #416b68);
    background: -ms-linear-gradient(top, #6da5a3, #416b68);
    background: -o-linear-gradient(top, #6da5a3, #416b68);
    background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}

.items select {
    margin-right: 5px;
}
.items {
    padding-top: 30px;
    padding-bottom: 30px;
}